#gameBackground{
    background-image: url("../../../files/91656.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
      /* Set rules to fill background */
  min-height: 100%;
  width: 100vw;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  /* position: fixed; */
  top: 0;
  left: 0; 
}
.carouselContainer {
    margin-right: 25%;
    margin-left: 25%;
}

.slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-hangman-game {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.hangman-thumbnail {
  height: 100%;
}


.GameFooter{
  font-size: 1px;
}
.gameCarouselItem:hover, .main-hangman-game:hover{
  cursor: pointer;
}

.HomeImgGame{
  filter: drop-shadow(7px 7px 7px #ff5b32);
  -webkit-filter: drop-shadow(7px 7px 7px #ff5b32);

}

@media only screen and (max-width: 768px) {
    .carouselContainer {
        margin-right: 5%;
        margin-left: 5%;
    }
}
@media all and (min-width: 768px){
	#gameBackground {
	  background-attachment: fixed;
	}
  }
  @media all and (max-width: 768px){
    #gameBackground {
    position:fixed;
    }
  }

@media screen and (max-width: 500px) {
  .hangman-thumbnail {
    height: 50%;
  }
}