.rockPaperScissorsBtn {
    width: 33%;
}

.centerDiv {
    display: flex;
    justify-content: center;
}

.rockPaperScissorsMessageText {
    color: #FF6EC7;
    font-weight: bold;
    font-size: large;
    margin-bottom: 2%;
}

@media only screen and (max-width: 768px) {
    .choiceSelectionDiv {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .rockPaperScissorsBtn {
        width: 100%;
    }
  }