.rockPaperScissorsBtn {
    width: 25%;
}

.centerDiv {
    display: flex;
    justify-content: center;
}

.rock, .paper, .scissors {
    border-radius: 50%;
    background-color: fuchsia;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    margin: 25px;
    cursor: pointer;
    box-shadow: 0 0 10px #2facff, 0 0 40px #2facff, 0 0 80px #2facff;
}

.playAgainBtn {
    border-radius: 50%;
    background-color: fuchsia;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 25px;
    cursor: pointer;
    box-shadow: 0 0 10px #2facff, 0 0 40px #2facff, 0 0 80px #2facff;
    font-family: 'Russo One', sans-serif; 
}

.messageText {
    font-family: 'Russo One', sans-serif;
    font-size: 15px;
    color: #2facff;
    text-align: center;
}

@media only screen and (max-width: 768px) {
    .choiceSelectionDiv {
        display: flex;
        /* flex-direction: column; */
        justify-content: center;
    }

    .rockPaperScissorsBtn {
        width: 25%;
        font-size: 10px;
    }

    .centerDiv {
        width: 100vw;
        padding-top: 10%;
        padding-bottom: 10%;
    }
    .playAgainBtn {
        margin: 5px;
        padding: 10px;

    }
    .messageText {
    font-family: 'Russo One', sans-serif;
    font-size: 10px;
    word-wrap: break-word;
}
    .msgDiv {
        width: 50%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: auto;
    }
  }