.rockPaperScissorsBtn {
    width: 25%;
}

.centerDiv {
    display: flex;
    justify-content: center;
}

.rock, .paper, .scissors {
    border-radius: 50%;
    background-color: fuchsia;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    margin: 25px;
    cursor: pointer;
    box-shadow: 0 0 10px #2facff, 0 0 40px #2facff, 0 0 80px #2facff;
}

#playAgainBtn {
    border-radius: 50%;
    background-color: fuchsia;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 25px;
    cursor: pointer;
    box-shadow: 0 0 10px #2facff, 0 0 40px #2facff, 0 0 80px #2facff;
    font-family: 'Russo One', sans-serif; 
}

.messageText {
    font-family: 'Russo One', sans-serif;
    font-size: 15px;
    color: #2facff;
    text-align: center;
}

@media only screen and (max-width: 768px) {
    .choiceSelectionDiv {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .rockPaperScissorsBtn {
        width: 100%;
    }
  }