<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ArcadeRunner</title>
</head>
<body>
    <button id = "logout-btn">Logout</button>
    <button id = "history-btn">History </button>
    <button id = "instruction-btn">Instructions</button>
    <button id = "play-computer-btn">Play Computer</button>
    <button id = "play-friend-btn">Select Friend</button>
    <button id = "favorite-btn">Favorite</button>

    <script src="/js/logout.js"></script>
    <script src="/js/script.js"></script>
</body>
</html>