<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../public/css/style.css">
    <title>Neon</title>
</head>
<style>
    * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito";
}

section {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #09111b;
}
.container h1 {
  color: #ff00ff;
  font-size: 10vw;
  position: relative;
}

</style>
<body>
    <section>
        <div class="container">
            <h1 data-text="ARCADE RUNNER">ARCADE RUNNER</h1>
            <button class='neonBtn'>HOMEPAGE</button>
            <button class="neonBtn">GAMES</button>
            <button class='neonBtn'>LOGIN</button>
            <button class='neonBtn'>LOGOUT</button>

        </div>
    </section>
</body>

</html>