<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ArcadeRunner</title>
</head>
<body>
    <section class="login-container">
        <form class="login-form">
            <div>
                <input type="text" id="email-login" placeholder="Enter Email" />
            </div>
            <div>
                <input type="password" id="password-login" placeholder="Enter Password" />
            </div>
            <div>
                <button type="submit">Log In</button>
            </div>
        </form>
    
        <form class="signup-form">
            <div>
                <input type="text" id="username-signup" placeholder="Enter Username" />
            </div>
            <div>
                <input type="text" id="email-signup" placeholder="Enter Email" />
            </div>
            <div>
                <input type="password" id="password-signup" placeholder="Enter Password" />
            </div>
            <div>
                <button type="submit">Sign Up</button>
            </div>
        </form>
    </section>
    <script src="/js/login.js"></script>
</body>
</html>