.game {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
    color: fuchsia;

  }
  
  .movesTic, ul {
    padding-left: 30px;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
    color: fuchsia;
  }
  
  .square {
    background: lightskyblue;
    border: 1px solid #ff00ff;
    /* filter: blur(50px) brightness(0); */
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 54px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 54px;
  }
  
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game {
    display: flex;
    flex-direction: row;
  }
  
  .game-info {
    margin-left: 20px;
  }
  
  .ticTacToeStatus {
    color: #FF6EC7;
    font-weight: bold;
    font-size: large;  
  }

  .statusTicTac {
    color: #FF6EC7;
    font-weight: bold;
    font-size: large;  
  }

  /* Set the font for the number before the list item */
  /* https://stackoverflow.com/questions/488830/ol-with-numbers-another-color */
  .ticTacToeMovesList { counter-reset: item; }
  .ticTacToeMovesList li { display: block; }

  .ticTacToeMovesList li:before {
    content: counter(item) ". ";
    counter-increment: item;
    color: #FF6EC7;
}

@media only screen and (max-width: 768px) {
    .game {
        display: flex;
        /* flex-direction: column; */
        justify-content: center;
    }

    .playAgainBtn {
        margin: 5px;
        padding: 10px;

    }
    .statusTicTac {
    font-family: 'Russo One', sans-serif;
    font-size: 10px;
    word-wrap: break-word;
}
    /* .msgDiv {
        width: 50%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: auto;
    } */

  }