.warWinner {
    text-align: center;
    font-family: 'Russo One', sans-serif; 
    color: #f5f5f5;
    margin: 1%;
    text-shadow: #B026FF 2px 2px 8px;    
}

.warCardsTitle {
    text-align: center;
    font-family: 'Russo One', sans-serif; 
    color: #f5f5f5;
    margin: 1%;
    text-shadow: #B026FF 2px 2px 8px;    
}

.warCardsContain{
    position: relative;
    padding: 15px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
}

.warCardsTitle {
    font-size: large;
    color: whitesmoke;
}

.warCardsOutline {
  border: 1px solid black;
border-radius:0.5rem; 
-moz-border-radius: 0.5rem; 
-webkit-border-radius: 0.5rem;  width: 175px; 
  text-align: center; 
  padding: 10px; 
  margin: 10px; 
  box-shadow: 2px 2px 9px #2facff; 
 -moz-box-shadow: 2px 2px 9px #2facff; 
 -webkit-box-shadow: 2px 2px 9px #2facff;
}

.warCardsTop {
    text-align: left;
    font-size: 2rem;
}

.warCardsBottom{
    text-align: right;
    font-size: 2rem;
    bottom: 8px;
  /* right: 16px; */
}

.warCardsSuit {
    font-size: 3rem;
    position: relative;
    justify-content: center;
    align-items: center;
}

.warCardsTop, .warCardsBottom, .warCardsSuit {
  height: 65px;
  width: 155px;
  display: block;
  background-color: whitesmoke;
}

span {
    display: inline;
}

.red {
    color: red;
}

.black {
    color: black;
}

#warGameStartImg{
    justify-content: center;
    height: 550px;
}

@media all and (min-width: 768px){
  #warGameStartImg {
      height: 350px;
  }
  .bothCards{
      display: flex;
      /* flex-wrap: wrap; */
    justify-content: center;

  }
}
@media all and (max-width:768px){
  .warCardsContain {
    display: flex;
    flex-direction: column;
    padding: 0px;
  }

  #warGameStartImg {
    width: 250px;
    height: 180px;
  }
  .warCardsOutline{
    max-width: 50%;
    max-height: 30%;
  }
  .warCardsBottom, .warCardsSuit, .warCardsTop {
    height: 32%;
    width: 80%;

}
}
/* @media all and (max-width: 768px){
  #warGameStartImg {
  position:fixed;
  }
}  */
/*
@media all and (min-width: 960px) {
	#BeforeGameMonitor {
	}
  .BeforeGamePlayBtn{
} */
