
.coinFlipBtn {
    width: 25%;
}
.playAgainCoinFlipBtn{
  width:100%
}

.centerDiv {
    display: flex;
    justify-content: center;
}

.coin {
  color: whitesmoke;
  font-size: large;
}
.coinImage{
  height:300px;
}

.coinFlipMessageText {
  color: #FF6EC7;
  font-weight: bold;
  font-size: large;
}

@media only screen and (max-width: 768px) {
  .coinImage {
    width: 50%;
    height: 50%;
  }

  .coinFlipBtn {
    width: 50%;
  }

  .playAgainCoinFlipBtn{
    width:75%
  }
}