
.coinFlipBtn {
   border-radius: 50%;
    background-color: rgb(22, 73, 241);
    border: none;
    color: white;
    padding: 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    /* font-size: 25px; */
    margin: 35px;
    cursor: pointer;
    box-shadow: 0 0 10px #2facff, 0 0 40px #2facff, 0 0 80px #2facff;
}

.coinStyle {
  font-size: 200px;
}

.playAgainCoinFlipBtn{
    border-radius: 50%;
    background-color: fuchsia;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    margin: 25px;
    cursor: pointer;
    box-shadow: 0 0 10px #2facff, 0 0 40px #2facff, 0 0 80px #2facff;
}

.centerDiv {
    display: flex;
    justify-content: center;
}

.coin {
  color: whitesmoke;
  font-size: large;
}
.coinImage{
  height:300px;
}

.coinImageNotDisplayed {
  display: none;
}

.coinFlipMessageText {
  color: #FF6EC7;
  font-family: 'Russo One', sans-serif; 
  font-weight: bold;
  font-size: large;
}

@media only screen and (max-width: 768px) {
  .coinImage {
    width: 50%;
    height: 50%;
  }

  .coinFlipBtn {
    width: 50%;
    padding: 5px;
    margin: 15px;
  }

  .coinStyle {
  font-size: 50px;
}

  .playAgainCoinFlipBtn{
    width:75%
  }
  .centerDiv{
    padding:1%;
  }
}