.form {
    margin: 20px;
    width: 50%;
  }
  
  .form input {
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
    min-height: 25px;
  }

  @media only screen and (max-width: 768px) {
    .form {
      width: 100%;
    }
  } 