@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@font-face {
    font-family: Bladerunner;
    src: url(../../../files/fonts/BLADRMF_.TTF);
}

.containerHS {
  background-image: url("../../../files/arcadegridpurplebackground.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: 'Russo One', sans-serif; 
  letter-spacing: 2px;
  text-align: center;
  position: absolute;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffea32;
  text-shadow: 0px 0px 50px #ff0000;

  /* background-color: #09111b; */
}

/* Show cursor pointer for clickable icons */
.clickableIconHS {
  cursor: pointer;
  background-color: transparent;
  color:yellow
}

.logoHS {
  color: #ff5b32;
  font-size: 50vw;
  position: relative;
  text-align: center;
}

.logoHS::before {
  position: relative;
  text-shadow: 0px 0px 50px #ff0000;
}

.listItemsHS {
  margin: 0;
  padding-left: 2cm;
  list-style-type: none;
}

.listItemsHS li{
    font-size: small;
    counter-increment: step-counter;
    margin-bottom: 10px;
  color: #4666FF;
}

.listItemsHS li::before {
  content: counter(step-counter);
  margin-right: 5px;
  font-size: 80%;
  text-shadow: 0px 0px 50px whitesmoke;
  font-weight: bold;
  padding: 3px 8px;
  border-radius: 3px;
}
